* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}

html {
    scroll-behavior: smooth;
}

.header {

    background-color: transparent;
    position: relative;

}

.header ul {
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    margin-right: 20px;
    padding-top: 30px;
}

a {
    text-decoration-line: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: #2639ED;
}

ul li {
    font-weight: 600;
    font-size: 16px;
    margin-right: 20px;


}

.nav .logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 20%;

}

.nav .logo img {
    z-index: 1;
    width: 120px;
}

.container {
    width: 100%;
    height: 875px;
    display: flex;
    justify-content: space-between;
    position: relative;


    background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}

.container .container section {
    width: 55%;
    height: auto;
    position: relative;

}


.container .aside {
    width: 30%;
    height: 504px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: absolute;
    left: 10%;
    position: relative;

}

.aside h1 {
    color: #94aedf;
    text-align: center;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
}

.aside p {
    color: #565656;
    line-height: 1.8;
}

.aside button {
    position: absolute;
    top: 80%;
    left: 30%;
    width: 220px;
    height: 70px;
    background-color: #94aedf;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    color: white;
    border-style: none;
    font-size: 20px;
    transition: .5s;


}

.aside button:hover {
    cursor: pointer;

    transform: translate(5px, 5px);
    background-color: #5086e9;
}







section img {
    /* width: 740px; */
    position: absolute;
    right: 10%;
    width: 576px;
    height: 700px;
    border: 2px solid transparent;
    /* border-bottom-left-radius: 20%; */
    /* box-shadow: 2px 2px 10px 5px #c3bcbc4d; */
    transition: 1s;

}





.img1 {
    position: absolute;
    top: 700px;
    left: 115px;
    z-index: -1;
}



.client {
    width: 100%;
    height: auto;
    margin-top: 400px;

}

.client-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 120px;
}

.client-icons img {
    transition: .5s;
}

.client-icons img:hover {
    transform: translate(5px, -5px);
}

.info {
    width: 300px;
    height: 150px;
    position: relative;
}

.info h1 {
    position: absolute;
    top: 0;
    font-size: 50px;
}

.info p {
    position: absolute;
    top: 70px;
    color: #565656;
}

.service {
    margin-top: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.service .service-info {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 200px;
}

.service-info h1 {
    margin: 20px 0;
    color: #5086e9;
    font-weight: bold;
    padding-left: 26px;
    text-align: center;
    line-height: 1.4;
}

.service-info p {
    padding-left: 30px;
    line-height: 1.6;
}

.service .unique-service {
    width: 700px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin-right: 10%;
}



/* box-shadow: h-offset v-offset blur spread color; */

.unique-service .business-box {
    height: 380px;
    border: 2px solid transparent;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 10px #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}



.business-box img {
    padding: 50px 35%;
}

.business-box h1 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 27px;
    font-weight: 600;
    margin: 0 20px;
    line-height: 1.4;
}

.business-box p {
    padding: 0 44px;
    line-height: 1.8;
    font-size: 16px;
    color: #565656;
}

.business-box:hover {
    background-color: #000000;
    color: white;
}

.testimonial {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.feed1 h1 {

    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}

.feed1 p {
    font-style: italic;
    margin-top: 30px;
}

.testimonial .feed1 {
    width: 20%;
    border: 1px solid transparent;
    height: 500px;
    box-shadow: 5px 5px 10px 10px #eee;
    border-radius: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.feed1:hover {
    background-color: #565656;
    color: #fff;
    transition: 2s;

}

.testimonial-title {
    text-align: center;
    margin-top: 100px;
    font-weight: 500;
    font-size: 40px;
    color: #565656;
    font-style: italic;
}

.icon img {
    width: 130px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.Container-two {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 200px;
}

.Container-two .video video {
    width: 520px;
    height: 360px;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 35px;

}

.video {
    position: relative;
}

.video img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Container-two .info-agency {
    width: 550px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-agency h1 {
    font-size: 39px;
    padding-bottom: 20px;
    line-height: 1.5;
    text-align: center;
}

.info-agency p {
    color: #565656;
    line-height: 1.5;
    text-align: center;
}


.form-container {
    width: 1170px;
    height: 292.5px;
    background-color: #d0e1f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid transparent;
    margin: 100px auto;
    border-radius: 35px;
    box-shadow: 5px 5px 10px 7px #eee;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.form-container .email input {
    width: 479px;
    height: 68px;
    border-radius: 35px;
    /* box-shadow: 5px 5px 10px 7px #eee; */
    border: 1px solid transparent;
    color: #565656;
    font-size: 15px;
    padding-left: 60px;
    outline: none;



}

.email {
    position: relative;
}

.email button {
    position: absolute;
    right: 7px;
    top: 8px;
    width: 150px;
    height: 52px;
    background-color: #2639ED;
    border-radius: 32px;
    outline: none;
    border: 1px solid transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;

}

.form-container .subscribe {
    width: 550px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.subscribe h1 {
    font-size: 39px;
    padding-bottom: 20px;
}

.form-container .img-container img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

}

Footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Boxes {
    width: 1140px;
    height: 345px;
    border-top: 2px solid #848383;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 60px;
}

.box .box-p {
    width: 300px;
    padding-top: 20px;
    line-height: 1.9;
    font-size: 14px;
    color: #565656;
}

.box ul {
    list-style: none;
    padding-top: 20px;
}


.box ul li {
    font-size: 15px;
    font-weight: normal;
    line-height: 35px;
    transition: transform 0.5s;
    /* Only transition the transform property */
}

.box ul li:hover {
    transform: translateX(10px);
    /* Scale factor of 1.1 for a slight increase in size */
}



.box h2.title-footer {
    font-size: 25px;
    font-weight: 500;

}

.box ul a {
    color: #565656;
    transition: .5s;
}



.copyright {
    width: 1140px;
    margin: auto;
}

.copyright p {
    border-top: 2px solid #F1F1F1;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    color: #565656;
    font-weight: 500;
    opacity: .6;


}